/* * {
  padding: 30px;
} */

/* span {
  padding: 0px;
} */

/* div {
  margin: 3rem;
} */


/* button {
  margin-right: 3rem;
} */

/* .navbar {
  justify-content: space-between;
}

span {
  padding-right: 1rem;
} */

/* sidenav */

/* mat-sidenav-container {
  height: 100%;
}

mat-sidnav, mat-sidenav-container {
  padding: 0px;
}

mat-sidenav {
  background-color: lightcoral;
  width: 200px;
} */

/* Menu */

/* .center {
  margin: 10rem;
} */

mat-grid-tile {
  background-color: lightblue;
}
